html
	head
	body
		h1 Here is the user information you requested:
	
		//- each personInfo in names
		//- 	h2 #{personInfo.firstname}
		//- 	p.someClass(style='font-family: Helvetica;') #{personInfo.lastname} 
		//- 	p #{personInfo.email}

		p #{names.firstname}
		p #{names.lastname}
		p #{names.email}
